{% extends 'personal/header.html' %}

{% block content %}
<div class="well well-sm">
        		<strong>Category Title</strong>
        		   <div class="btn-group">
            		  <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
           			  </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm">
           			  <span class="glyphicon glyphicon-th"></span>Grid</a>
        			</div>

                    <div>
                     <form type="get" action="/ealan/search">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                               
                                    <input type="text" name = "search" class="form-control input-lg" placeholder="search" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                
                            </div>
                        </div>
                     </form>

                    </div>
    		</div>
<div id="products" class="row list-group">
	{% for post in posts %}


		<div class="item  col-xs-6 col-lg-3 ">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{post.image.url}}" alt=""  width="304" height="236"/>
                
                <div class="caption">
                    <p class="group inner list-group-item-heading">
                        Name : {{post.title}}</p>
                    <!--p class="group inner list-group-item-text">
                        {{post.details}}</p-->
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                             Price :   {{post.price}} SDG</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-info" href="/ealan/{{post.id}}">details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


	{% endfor %}
	</div>
{% endblock %}


{% block categories %}
	{% for category in categories %}
		<li><a href="/ealan/category/{{category.id}}">{{category.name}}</a></li>
	{% endfor %}
{% endblock %}

{% block venders %}
	{% for vender in venders %}
		<li><a href="/ealan/vender/{{vender.id}}">{{vender.name}}</a></li>
	{% endfor %}
{% endblock %}
