{% extends 'personal/header.html' %}

{% block content %}

	<h3>Product Name : {{form.title}}</h3>
	<h6>realse date :  {{form.date}}</h6>
	<a><img id="magnify_image" src="{{urltoimage}}" class="img-thumbnail small" alt="Cinque Terre" width="304" height="236"></a>
	<h6>Price : {{form.price}} SDG</h6>
	<h6>the vender :  
    <a class="btn btn-info" href="/ealan/venderinfo/{{form.vender.id}}">{{form.vender}}</a>
	</h6>
	<h6>Details :  {{form.details}}</h6>
	
{% endblock %}


{% block categories %}
	{% for category in categories %}
		<li><a href="/ealan/category/{{category.id}}">{{category.name}}</a></li>
	{% endfor %}
{% endblock %}

{% block venders %}
	{% for vender in venders %}
		<li><a href="/ealan/vender/{{vender.id}}">{{vender.name}}</a></li>
	{% endfor %}
{% endblock %}