{% extends 'personal/header.html' %}

{% block content %}

	<h3>Vender Name : {{form.name}}</h3>
	<h6>Address :  {{form.address}}</h6>
	<h6>Phone1 : {{form.phone1}}</h6>
	<h6>Phone1 :  {{form.phone1}}</h6>
	<h6>Email :  {{form.email}}</h6>
	
{% endblock %}


{% block categories %}
	{% for category in categories %}
		<li><a href="/ealan/category/{{category.id}}">{{category.name}}</a></li>
	{% endfor %}
{% endblock %}

{% block venders %}
	{% for vender in venders %}
		<li><a href="/ealan/vender/{{vender.id}}">{{vender.name}}</a></li>
	{% endfor %}
{% endblock %}