{% extends 'personal/header.html' %}

{% block content %}
	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	{% for post in object_list %}
		<h5>{{post.date|date:'Y:m:d'}}
		<a href="/blog/{{post.id}}">{{post.title}}</a>
		:
		<a href="/blog/edit/{{post.id}}">edit</a>
		:
		<a href="/blog/delete/{{post.id}}">delete</a>
		</h5>
	{% endfor %}
{% endblock %}