{% extends 'personal/header.html' %}

{% block content %}

	<h3>{{post.title}}</h3>
	<h6>on {{post.date}}</h6>
	{{post.body|safe|linebreaks}}
	<a href="/blog/delete/{{post.id}}" class="btn btn-danger" role="button">delete</a>

	
{% endblock %}